# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [5]:
#1
t=tuple(x for x in range(1,11))
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
#2
print(t[0])
print(t[-1])
print(t[len(t)//2])

1
10
6

In [7]:
#3
print(t[0:2])
print(t[-2:])
print(t[2:5])

(1, 2)
(9, 10)
(3, 4, 5)

In [8]:
matrix = []
print("Enter 9 values for a 3x3 matrix:")
for i in range(3):
    row = []
    for j in range(3):
        val = int(input(f"Enter element [{i+1},{j+1}]: "))
        row.append(val)
    matrix.append(tuple(row))   
matrix = tuple(matrix) 
print("\nMatrix:")
for row in matrix:
    print(row)
element = matrix[1][2]
print("\nElement at 2nd row, 3rd column:", element)

Enter 9 values for a 3x3 matrix:

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

Element at 2nd row, 3rd column: 6

In [9]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

result = t1 + t2

print(result)

(1, 2, 3, 4, 5, 6)

In [10]:
t = (1, 2, 3, 2, 4, 2, 5)
count_2 = t.count(2)
index_2 = t.index(2)
print("Tuple:", t)
print("Count of 2:", count_2)
print("First index of 2:", index_2)

Tuple: (1, 2, 3, 2, 4, 2, 5)
Count of 2: 3
First index of 2: 1

In [11]:
t = (10, 20, 30, 40, 50)
a, b, c, d, e = t  
print(a)
print(b)
print(c)
print(d)
print(e)

10
20
30
40
50

In [12]:
numbers = [1, 2, 3, 4, 5]   
t = tuple(numbers)          
print(t)

(1, 2, 3, 4, 5)

In [13]:
t = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print(t)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [14]:
t = (1, 2, 3, 4, 5)   
lst = list(t)        
lst.append(6)        
t = tuple(lst)        
print(t)

(1, 2, 3, 4, 5, 6)

In [16]:
s = "hello"
t = tuple(s)          
result = "".join(t)   
print(result)

hello

In [17]:
my_dict = {
    (1, 2): 10,
    (3, 4): 20,
    (5, 6): 30
}

print(my_dict)

{(1, 2): 10, (3, 4): 20, (5, 6): 30}

In [18]:
nested = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for row in nested:
    for element in row:
        print(element, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [19]:
t = (1, 2, 3, 2, 4, 3, 5, 1)
s = set(t)   
print(s)

{1, 2, 3, 4, 5}

In [20]:
def get_min(t):
    return min(t)
def get_max(t):
    return max(t)
def get_sum(t):
    return sum(t)
t = (5, 2, 8, 1, 9)
print("Tuple:", t)
print("Minimum:", get_min(t))
print("Maximum:", get_max(t))
print("Sum:", get_sum(t))

Tuple: (5, 2, 8, 1, 9)
Minimum: 1
Maximum: 9
Sum: 25